@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projector</h1>
    <p class="lead">The projector is a Project-Person assignment app made as an exercise for Netzwelt.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            You can create projects using the projector. Enter the code, name, budget and remarks to create a project where 
            persons can be assigned.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Persons</h2>
        <p>Assign persons to your created projects. Persons can be assigned to more than one project. Persons can also be removed and added from the project</p>
        
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>This project requires a login. Login using any username and password that follows the login rules.</p>
        
    </div>
</div>